{% extends 'base.html' %}

{% block content %}

  <div class="rented_services_log">
    <h1>Išsinuomotos paslaugos:</h1>
    <ul>
      {% for rented_service in rented_services %}
      <li>
        <p>
          <strong>Paslauga:</strong> {{ rented_service.service.name }} <br>
          <strong>Vartotojo vardas:</strong> {{ rented_service.user_name }} <br>
          <strong>Išsinuomota nuo:</strong> {{ rented_service.start_date }} <br>
          <strong>Išsinuomota iki:</strong> {{ rented_service.end_date }}
        </p>
      </li>
      {% empty %}
      <li>Nėra išsinuomotų paslaugų.</li>
      {% endfor %}
    </ul>
  </div>

{% endblock %}
