{% extends 'base.html' %}

{% block content %}

<h1>Jūsų Profilis</h1>

<div class="account-information">
  <h1>Paskyros duomenys</h1>
  <p>Jūsų slapyvardis: {{ user.username }}</p>
  <p>Jūsų el. paštas: {% if user.email %}{{ user.email }}{% else %}El. paštas nenustatytas{% endif %}</p>
  <p><a href="{% url 'password_reset' %}">Keisti slaptažodi</a></p>

  <h1>Kita informacija:</h1>
  <p>Jūsų išsinuomotos paslaugos:</p>
  <p><a href="{% url 'servicesApp:rented_services' %}" class="btn btn-primary">Skaityti daugiau</a></p>
</div>

{% endblock %}
