
/* home style >>> */

#messageDisplay {
  text-align: center;
  margin-top: 20px;
}

::placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

::-ms-input-placeholder {
  color: #888;
}

.form-control:invalid {
  border: 1px solid red;
}

.form-control:valid {
  border: 1px solid #ccc;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
  display: none;
}

.form-control:invalid {
  border: 1px solid red;
}

.form-control:valid {
  border: 1px solid #ccc;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
  display: none;
}

.form-control:invalid {
  border: 1px solid red;
}

.form-control:valid {
  border: 1px solid #ccc;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

.hero-section {
  background-color: white;
  padding: 100px 0;
  text-align: center;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 40px;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #555e64;
}

.services-section {
  background-color: whitesmoke;
  padding: 80px 0;
}

.services-section h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.service-item {
  text-align: center;
  margin-bottom: 40px;
}

.service-item i {
  font-size: 36px;
  margin-bottom: 20px;
}

.service-item h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.projects-section {
  background-color: white;
  padding: 80PX 0;
}

.about-section {
  background-color: whitesmoke;
  padding: 80px 0;
}

.about-section h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-section {
  background-color: white;
  padding: 80px 0;
  text-align: center;
}

.contact-section h2 {
  font-size: 36px;
  font-weight: 600;
  color: bl;
  margin-bottom: 40px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
  width: 450px;
}

.form-group textarea {
  width: 650px;
  height: 250px;
}

.form-control {
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea.form-control {
  resize: vertical;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: gray;
  color: #fff;
}

.btn-primary:hover {
  background-color: red;
}

.btn-secondary {
  background-color: white;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #555e64;
}


@media (max-width: 768px) {
}

/* about_us style >>> */

h2, a {
    text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.about-us h2, .management h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}

.person {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.person img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1rem;
}

.person-info {
    flex: 1;
}

.person-info h3 {
    margin: 0;
}

.person-info p {
    margin: 0;
    font-style: italic;
}

.social-links img {

    font-size: 30px;
    margin-right: 2.5rem;
}

@media (max-width: 768px) {
  .contact-section h2 {
    font-size: 28px;
  }

  .form-group input[type="text"],
  .form-group input[type="email"] {
    width: 100%;
  }

  .form-group textarea {
    width: 100%;
  }

  .container {
    padding: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p,
  .service-item h3 {
    font-size: 16px;
  }

  .form-control {
    font-size: 14px;
  }

  .btn-primary,
  .btn-secondary {
    padding: 8px 16px;
    font-size: 16px;
  }
}

/* reviews style >>> */

.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  margin: 50px auto;
  border: 1px solid #e1e1e1;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.review h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.review a {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 30px;
  background-color: gray;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.3s;
}

.review a:hover {
  background-color: red;
}

.review > div {
  margin-bottom: 30px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 20px;
  width: 100%;
}

.review h3 {
  font-size: 24px;
  margin-top: 0;
  text-align: center;
}

.review p {
  font-size: 16px;
  margin-bottom: 10px;
}

.delete-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination .step-links {
  display: flex;
  gap: 10px;
}

.pagination .step-links a {
  padding: 8px 12px;
  text-decoration: none;
  color: #ffffff;
  background-color: gray;
  border-radius: 3px;
  transition: background-color 0.2s;
}

.pagination .step-links a:hover {
  background-color: red;
}

.pagination .current {
  margin: 0 10px;
  align-self: center;
  color: #333;
}

/* create_review style >>> */

.create-review {
  background-color: white;
  padding: 80px 0;
  text-align: center;
}

.review-form {
  margin-bottom: 20px;
}

.review-form input[type="text"],
.review-form input[type="number"] {
  width: 450px;
}

.review-form textarea {
  width: 650px;
  height: 250px;
}

.review-control {
  height: 40px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.review-control:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea.review-control {
  resize: vertical;
}